@font-face {
  font-family: "SourceSansPro-Bold";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/source-sans-pro/SourceSansPro-Light.otf") format("opentype");
}

.hide {
  display: none;
}

body {
  margin: 0;
}

.creativeContainer {
  position: relative;
  width: 1080px;
  height: 1920px;
  font-family: Arial;
  box-sizing: border-box;
  overflow: hidden;
  display:none;
}

.creativeContainer-debugger {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 60px;
  background-color: #fff;
  font-family: "SourceSansPro-Bold";
  color: #3598db;
  font-size: 60px;
  line-height: 60px;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
}

.placeholder.invisible {
  opacity: 0;
}
